html {
    box-sizing: border-box;
    background: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3482&q=80')
        center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

svg {
    fill: white;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 50%;
    width: 200px;
    margin-bottom: 50px;
}

.wrapper {
    padding: 20px;
    max-width: 350px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
}

.books {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

.books li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    font-weight: 100;
    display: flex;
}

.books label {
    flex: 1;
    cursor: pointer;
}

.books input {
    display: none;
}

.books input + label:before {
    content: '⬜️';
    margin-right: 10px;
}

.books input:checked + label:before {
    content: '✅';
}

.add-items {
    margin-top: 20px;
}

.add-items input {
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
